.app-contaner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0.5rem 0.5rem;
}

.app-contaner h1{
  font-style: oblique;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 200;
  color:crimson;

}
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.load-more {
  cursor: pointer;
    background: crimson;
    border-radius: 20px;
    border: 1px solid #c6c6c6;
    color: white;
    padding: 0.5rem 1.5rem;
    font-size: large;
    margin-top: 1rem;
    border: 3px solid white;
} 
